{% extends 'accounts/base.html' %}
{% load static %}
{% block block %} 

<link rel="stylesheet" type="text/css" href="{% static '/css/registration_form.css' %}">
<div class="d-flex justify-content-center h-auto">
    <form class="requires-validation" method="POST" action="" novalidate>
        {% csrf_token %}
        <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Update a Customer</h3>
                        <p>Fill in the data below.</p>                                       
                            
                                {% for field in form %}
                                    {% if field.label != 'Group' and field.label != 'Profile pic'%}
                                    <div class="form-group col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text text-dark">{{field.label}}</div>
                                            </div>    
                                            <input class="form-control" type="text"  name={{field.name}} placeholder="" required></input>
                                        </div>   
                                    </div>   
                                    {% elif field.label == 'Profile pic'%}
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" name={{field.name}}>
                                        <label class="custom-file-label" for="customFile">Profile Picture</label>
                                      </div>
                                    {% endif %}
                                {% endfor %} 
                                <div class="d-flex justify-content-center mt-3">
                                    <input class="btn btn-info" type="submit" value="Update Customer">
                                </div>
                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">{{form.errors}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
{% endblock %} 