{% extends 'accounts/base.html' %}
{% load static %}
{% block block %} 

<link rel="stylesheet" type="text/css" href="{% static '/css/registration_form.css' %}">
<div class="d-flex justify-content-center h-auto">
    <form class="requires-validation" method="POST" action="{% url 'create_customer' %}" novalidate>
        {% csrf_token %}
        <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Register a Customer</h3>
                        <p>Fill in the data below.</p>                                       
                            
                                {% for field in form %}
                                <div class="form-group col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text text-dark">{{field.label}}</div>
                                        </div>       
                                        <input class="form-control" type="text"  name={{field.name}} placeholder="" required>    
                                    </div>
                                        <div class="valid-feedback">{{field.label}} field is valid!</div>
                                        <div class="invalid-feedback">{{field.label}}  field cannot be blank!</div>
                                    </div>
                                {% endfor %} 
                                <div class="d-flex justify-content-center mt-3">
                                    <input class="btn btn-info" type="submit" value="Create Customer">
                                </div>
                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">{{form.errors}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
{% endblock %} 